<mat-form-field appearance="outline">
  <mat-label>Search</mat-label>
  <input
    matInput
    type="search"
    [(ngModel)]="search"
    (input)="onSearch()"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<app-loading *ngIf="!posts"></app-loading>

<app-card
  *ngFor="let post of filteredPosts"
  [title]="post.title"
  [description]="post.description"
  (view)="redirect('view/' + post._id)"
  (edit)="redirect('post/' + post._id)"
  (remove)="onRemove(post._id)"
></app-card>

<h1 *ngIf="posts && !filteredPosts.length">Nothing added yet</h1>
