<h1>{{isUpdate ? 'Update' : 'Create'}} Post</h1>

<app-loading *ngIf="!post"></app-loading>

<div *ngIf="post">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input [(ngModel)]="post.title" matInput autofocus />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea
      [(ngModel)]="post.description"
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5"
    ></textarea>
  </mat-form-field>
  <quill-editor [(ngModel)]="post.body" placeholder="Post body"></quill-editor>

  <a mat-raised-button color="primary" (click)="save()">SAVE</a>
  <a mat-raised-button (click)="cancel()">CANCEL</a>
</div>
