/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~ngx-toastr/toastr";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

quill-editor .ql-toolbar {
  border-radius: 4px 4px 0 0;
  padding: 0 .5rem !important;
}
quill-editor .ql-container {
  max-height: 32rem;
  overflow: auto;
  border-radius: 0 0 4px 4px;
}
quill-editor .ql-editor {
  min-height: 4.88rem;
}
quill-view-html .ql-container {
  font-size: 1rem;
  margin: 1.5rem -15px;
}
